<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="icon" type="image/png" href="/images/anime/anime.png">
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body class="dark-mode">
        <header>
            <nav class="align-vert">
                <a href="/">AniReview</a>
                <a class="flex" href="/demo/users">Users</a>
                <a class="flex" href="/demo/anime">Anime</a>
                <a class="flex" href="/demo/reviews">Reviews</a>
            </nav>
        </header>
        <main class="flex">
            <div class="content">
                <h1><%= failedAction %></h1>
                <% if (typeof messages === "string") {%>
                    <p><span> error: </span><%= messages %></p>
                <%} else { %>
                    <% for (const key in messages) { %>
                        <p><span><%= key %> error: </span><%= messages[key] %></p>
                    <% } %>
                <%}%>
            </div>
        </main>
    </body>
</html>