<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="stylesheet" href="/styles/review-styles.css" />
        <script src="/scripts/script.js" defer></script>
    </head>
    <body class="dark-mode">
        <header>
            <nav class="align-vert">
                <a href="/">AniReview</a>
                <a class="flex" href="/demo/users">Users</a>
                <a class="flex" href="/demo/anime">Anime</a>
                <a class="flex" href="/demo/reviews">Reviews</a>
            </nav>
        </header>
        <main class="flex">
            <div class="content">
                <div id="anime-doc" class="flex">
                    <h1 id="action-heading">View Anime</h1>
                    <form id="form" action="/demo/anime/<%= anime._id %>?_method=PATCH" method="post">
                        <label for="id">Id</label>
                        <input type="number" name="id" id="id" value="<%= anime._id %>" disabled>
    
                        <label for="title">Title</label>
                        <input type="string" name="title" id="title" value="<%= anime.title %>" disabled>
                        
                        <label for="status">Status</label>
                        <input type="string" name="status" id="status" value="<%= anime.status %>" disabled>
                        
                        <label for="genres">Genres</label>
                        <input type="string" name="genres" id="genres" value="<%= anime.genres.join(', ') %>" disabled>
                        
                        <label for="type">Type</label>
                        <input type="string" name="type" id="type" value="<%= anime.type %>" disabled>
    
                        <label for="premiered">Premiered</label>
                        <input type="number" name="premiered" id="premiered" value="<%= anime.premiered %>" disabled>
    
                        <label for="episodes">Episodes</label>
                        <input type="number" name="episodes" id="episodes" value="<%= anime.episodes %>" disabled>

                        <label for="avg-rating">Average User Rating</label>
                        <input type="string" name="avg-rating" id="avg-rating" value="<%= anime.avg_user_rating || 'N/A' %>" disabled>
                        
                        <div id="form-controls" class="flex">
                            <a class="control-btn" href="/demo/anime">Back</a>
                            <a class="control-btn" href="/demo/anime/<%= anime._id %>">View</a>
                            <button class="control-btn" type="button" id="edit">Edit</button>
                            <button class="control-btn" type="submit" id="delete" formaction="/demo/anime/<%= anime._id %>?_method=DELETE">Delete</button>
                            <button class="control-btn hidden" type="submit" id="update">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
