<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="stylesheet" href="/styles/anime-styles.css" />
    </head>
    <body class="dark-mode">
        <header>
            <nav class="align-vert">
                <a href="/">AniReview</a>
                <a class="flex" href="/demo/users">Users</a>
                <a class="flex" href="/demo/anime">Anime</a>
                <a class="flex" href="/demo/reviews">Reviews</a>
            </nav>
        </header>
        <main class="flex">
            <div class="content">
                <div class="space-between anime">
                    <h1>Anime</h1>
                    <div class="doc-actions">
                        <a href="/demo/anime/create">
                            <div id="create-doc" class="align-vert">
                                <p>+</p>
                                <p>Create Anime</p>
                            </div>
                        </a>
                        <a href="/demo/anime/reset">
                            <div id="remove-doc" class="align-vert">
                                <p>-</p>
                                <p>Reset Anime</p>
                            </div>
                        </a>
                    </div>
                </div>
                <% if (anime.length === 0) { %>
                    <h1 class="empty">No anime exist yet</h1>
                    <p>Press the green button next to Reviews to create one!</p>
                <% } else { %>
                    <% anime.forEach(a => { %>
                        <a href="/demo/anime/<%= a._id %>">
                            <div class="anime-preview">
                                <img class="anime-icon" src="/images/anime/<%= a._id %>.png"/>
                                <p class="title field"><%= a.title %></p>
                                <div class="type-year-rating">
                                    <p class="type"><%= a.type %></p>
                                    <p class="year">Year: <%= a.premiered %></p>
                                    <p class="rating">Rating: <%= a.avg_user_rating || "-" %></p>
                                    <p class="status">Status: <%= a.status %></p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                <% } %>
            </div>
        </main>
    </body>
</html>
