<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="stylesheet" href="/styles/review-styles.css" />
        <script src="/scripts/script.js" defer></script>
    </head>
    <body class="dark-mode">
        <header>
            <nav class="align-vert">
                <a href="/">AniReview</a>
                <a class="flex" href="/demo/users">Users</a>
                <a class="flex" href="/demo/anime">Anime</a>
                <a class="flex" href="/demo/reviews">Reviews</a>
            </nav>
        </header>
        <main class="flex">
            <div class="content">
                <div id="reviews-doc" class="flex">
                    <h1 id="action-heading">View Review</h1>
                    <form id="form" action="/demo/reviews/<%= review._id %>?_method=PATCH" method="post">
                        <label for="id">Id</label>
                        <input type="text" name="id" id="id" value="<%= review._id %>" disabled>

                        <label for="anime_id">Anime Id</label>
                        <input type="number" name="anime_id" id="anime_id" value="<%= review.anime_id %>" disabled>
                        
                        <label for="user_id">User Id</label>
                        <input type="string" name="user_id" id="user_id" value="<%= review.user_id %>" disabled>
                        
                        <label for="comment">Comment</label>
                        <textarea type="text" name="comment" id="comment" disabled><%= review.comment %></textarea>
                        
                        <label for="rating">Rating</label>
                        <input type="number" name="rating" id="rating" value="<%= review.rating %>" disabled>
                        
                        <div id="form-controls" class="flex">
                            <a class="control-btn" href="/demo/reviews">Back</a>
                            <a class="control-btn" href="/demo/reviews/<%= review._id %>">View</a>
                            <button class="control-btn" type="button" id="edit">Edit</button>
                            <button class="control-btn" type="submit" id="delete" formaction="/demo/reviews/<%= review._id %>?_method=DELETE">Delete</button>
                            <button class="control-btn hidden" type="submit" id="update">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
