<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="stylesheet" href="/styles/review-styles.css" />
        <script src="/scripts/script.js" defer></script>
    </head>
    <body class="dark-mode">
        <header>
            <nav class="align-vert">
                <a href="/">AniReview</a>
                <a class="flex" href="/demo/users">Users</a>
                <a class="flex" href="/demo/anime">Anime</a>
                <a class="flex" href="/demo/reviews">Reviews</a>
            </nav>
        </header>
        <main class="flex">
            <div class="content">
                <div class="space-between review">
                    <h1>Reviews</h1>
                    <div class="doc-actions">
                        <a href="/demo/reviews/create">
                            <div id="create-doc" class="align-vert">
                                <p>+</p>
                                <p>Create Review</p>
                            </div>
                        </a>
                        <a href="/demo/reviews/reset">
                            <div id="remove-doc" class="align-vert">
                                <p>-</p>
                                <p>Reset Reviews</p>
                            </div>
                        </a>
                    </div>
                </div>
                <% if (reviews.length === 0) { %>
                    <h1 class="empty">No reviews exist yet</h1>
                    <p>Press the green button next to Reviews to create one!</p>
                <% } else { %>
                    <% reviews.forEach(r => { %>
                        <a href="/demo/reviews/<%= r._id %>">
                            <div class="review-preview">
                                <p class="anime field"><%= r.anime_id ? r.anime_id.title : "Deleted Anime" %></p>
                                <div class="user-rating">
                                    <p class="user">by: <%= r.user_id ? r.user_id.username : "Deleted User" %></p>
                                    <p class="rating">rating: <%= r.rating %></p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                <% } %>
            </div>
        </main>
    </body>
</html>
